
@media(max-width:768px) {
.toggle_button {
    display: flex;
    flex-direction: column;
    height: 30px;
    width: 30px;
    /* background-color: darkgoldenrod; */
    border: none;
    padding: 0px;
    cursor: pointer;
    box-sizing: border-box;
    justify-content: space-between;
    background-color: transparent;
}
.toggle_button:focus {
    outline: none;
}
.line {
    width: 30px;
    height: 2px;
    background-color: rgb(107, 24, 24);
}
}





@media(min-width:769px) {
    .toggle_button {
      display: none;
    }
}