#nav {
   /* height: 8%;
   background-color: crimson; */
}
#nav .nav_main {
    background-color: #14193E;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    position: fixed;
    top: -1%;  
    z-index: 100;
    overflow: hidden;
    display: block;
}
#nav .nav_main ul li {
display: inline-block;
color: white;
padding: 20px;
margin: 20px;
font-weight: bold;
font-size: 22px;
}
#nav .nav_main ul li:hover {
    color: orangered;
}

@media(max-width:768px) {
    #nav .nav_main {
        display: block;
        top: 13%;
        left: 0%;
        }
        #nav .nav_main ul li {
            display: block;
            font-size: 12px;
            padding: 10px;
            margin: 10px;
        }
  }
  @media(min-width:769px) {
    #nav .nav_main {
        display: block;
        }
        #nav .nav_main {
            width: 100%;
            margin-top: 5px;
            margin-bottom: 5px;
            position: fixed;
            top: -2%;  
            z-index: 100;
            overflow: hidden;
            display: block;
        }
        #nav .nav_main ul li {
            display: inline-block;
            color: white;
            padding: 15px;
            margin: 15px;
            font-weight: bold;
            font-size: 20px;
        }
  }
  /* @media(min-width:993px) {
    #nav .nav_main {
        top: -2%;
    }
  } */